<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Ship</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="shortcut icon"
      href="/images/spaceship.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <div class="main-content">
        <% if(currentUser) { %>        
          <h1>Welcome aboard, <%=currentUser.firstname%>.</h1>
          <div class="message-board">
            <div class="add-message-container">
        <form action="/newMessage" method="post" class="new-message-form">
          <label for="name">Title</label>
          <input type="text" name="title" id="title" />
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            required
          ></textarea>
          <button type="submit" class="new-message-btn">Add New Message</button>
        </form>
            </div>
            <div class="messages-container">
       <% } else { %>
        <h1>Welcome to the Member Ship.</h1>
        <div class="btn-container"><a href="/signup" class="general-btn">Sign Up</a> 
        <a href="/login" class="general-btn">Log In</a></div>

        <h2>(You must be logged in to view the ship's secrets!)</h2>
        <div class="message-board-hidden">
      <% } %>
          <% messages.forEach((message) => { %>
          <div class="message-container">
            <div class="user-timestamp">
              <div class="user">
                <% if(currentUser) { %>
                <p><%=message.firstname%> <%=message.lastname%></p>
                <% } else { %>
                <p>Anonymous</p>
                <% } %>
              </div>
              <div class="date-time">
                <p>
                  Posted at <%=message.timestamp.formattedTime%> on
                  <%=message.timestamp.formattedDate%>                
                </p>
                <% if(currentUser && currentUser.isadmin === true) { %>
                <form action="/delete/<%=message.id%>" method="post">
                  <button type="submit" class="delete-btn">DELETE</button>
                </form>
               <% } %>
              </div>
            </div>
            <div class="title-message">
              <h2><%=message.title%></h2>
              <p><%=message.message%></p>
            </div>
          </div>
          <% }) %>
        </div></div>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
